.portfolio__main-container {
  /* border: solid red 3px; */
  display: flex;
  justify-content: center;
  scroll-margin-top: 130px;
}

.portfolio__container {
  /* border: solid green 3px; */
  margin: 50px 0;
  display: flex;
  width: 80%;
}

.portfolio__container-card-text {
  /* border: blue 3px solid; */
  padding: 20px;
}

.portfolio__img-link {
  width: 30px;
  border: black 2px solid;
  padding: 3px;
  border-radius: 5px;
}

.portfolio__bar {
  height: 80%;
  margin: 0 40px;
  width: 1%;
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: none;
}

.portfolio__hr {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.portfolio__card-image {
  width: 30vh;
  height: 55vh;
  box-shadow: 0px 0px 10px black;
}

.card__icon {
  /* border: red solid 3px; */
  display: flex;
  justify-content: flex-end;
}

.portfolio__title {
  text-decoration: underline;
  margin-bottom: 10px;
}

.portfolio__container-card-text {
  /* border: red solid 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio__sub-container {
  display: flex;
  /* border: rgba(99, 99, 99, 5) 3px solid; */
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.portfolio__main-title {
  font-size: 3rem;
}

.portfolio__card-text {
  padding: 30px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 800px) {

  .portfolio__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .portfolio__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .portfolio__img-link {
    width: 20px;
    margin-top: 10px;
  }

  .portfolio__container {
    width: 100%;
  }

  .portfolio__card-image {
    width: 18vh;
    height: 35vh;
  }

  .portfolio__bar {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(197, 197, 197);
    height: 3px;
    box-shadow: 1px 3px 10px gray;
  }

  .portfolio__main-title {
    font-size: 2rem;
  }

  .portfolio__card-text {
    padding: 30px;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: start;
  }
}
