@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 0.4;
  }

  100%{
    opacity: 1;
  }
}

.hero {
  width: 60vw;
  /* border: 1px red solid; */
  z-index: 2;
  position: relative;
  animation: appear 2s linear;
}

.hero__background {
  background-color: #2b5ab9;
  position: relative;
  top: 100px;
  /* border: rgb(0, 255, 55) 5px solid; */
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .hero__background {
    width: 100vw;
  }
}