.aboutUs__container {
  /* border: solid blue 1px; */
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.aboutUs__article {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border: solid #94BDF2 10px;
  border-radius: 10px;
  width: 50%;
  font-size: 30px;
  background-color: white;
  font-style: italic;
  box-shadow: 10px 10px 10px gray;
}

.aboutUs__title {
  font-size: 50px;
}

hr {
  margin: 100px 0;
  width: 60%;
  border: rgb(209, 209, 209) solid 2px;
  background-color: rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 1px 3px 10px gray;
}

.aboutUs__text {
  letter-spacing: 2px;
}