footer {
  background-color: #003296;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px;
  color: #94BDF2;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}

.footer__icon-img {
  font-size: 50px;
  color: #94BDF2;
}

.footer__container-social {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  /* border: solid 1px red; */
  width: 20rem;
}