.menuweb__container {
  /* border: solid blue 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  scroll-margin-top: 130px;
}

.menuweb__article {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border: solid #94BDF2 10px;
  border-radius: 10px;
  width: 50%;
  font-size: 2rem;
  background-color: white;
  font-style: italic;
  box-shadow: 10px 10px 10px gray;
}

.menuweb__title {
  font-size: 3rem;
}

hr {
  margin: 100px 0;
  width: 60%;
  border: rgb(209, 209, 209) solid 2px;
  background-color: rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 1px 3px 10px gray;
}

.menuweb__text {
  letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .menuweb__article {
    width: 80%;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    padding: 20px;
  }

  .menuweb__title {
    text-align: center;
    font-size: 2rem;
  }

}